$main-bgc-dark: #333841;
$main-bgc-light: #fafafa;

$main-side-bgc-dark: #21252b;
$main-side-bgc-light: #eaeaeb;

$code-block-bgc-dark: #282c33;
$code-block-bgc-light: #fafafa;

$main-side-item-hover-dark: #262a31;
$main-side-item-hover-light: #e5e5e5;